.cache/
**/__pycache__/

slurm_scripts/errors/
slurm_scripts/outputs/
nohup_out/

data/pld
data_arxiv/feynman_in_caption/
data_arxiv/feynman_in_paragraph_10k/
data_classification/all/
data_classification/no/
data_classification/yes_single/
data_classification/yes_multiple/

openai_api_key.txt