.cache/
**/__pycache__/

slurm_scripts/errors/
slurm_scripts/outputs/
nohup_out/

dataset/pld
dataset/arxiv/feynman_in_caption/
dataset/arxiv/feynman_in_paragraph_10k/
dataset/FeynEval-E/all/
dataset/FeynEval-E/no/
dataset/FeynEval-E/yes_single/
dataset/FeynEval-E/yes_multiple/
dataset/FeynEval-M/diagrams
dataset/FeynEval-MH-March17/diagrams

openai_api_key.txt